@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Josefin+Sans:wght@700&family=Merriweather:wght@900&family=Pacifico&family=Rubik+Iso&family=Sedgwick+Ave+Display&family=Tilt+Prism&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #120E43;
}

.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #120E43;
}

.heading {
    position: relative;
    font-size: 65px;
    /* font-family: 'Tilt Prism', cursive, 'Ubuntu'; */
    font-family: 'Rubik Iso', cursive;
    color: azure;
    /* text-shadow: 0px 0px 30px rgb(215, 249, 249); */
    z-index: 4;
}

.tac {
    color: #F4BE2C;
    text-shadow: 0px 0px 25px #d59d03;
}

.head_logo {
    color: #F4BE2C;
    font-size: 65px;
    position: relative;
    z-index: 4;
    margin: 10px 25px;
}


.theme_btn {
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin: 10px 50px 0px 0px;
    background-color: transparent;
    border: none;
    color: #F4BE2C;
    font-size: 40px;
}

/* .theme_btn :hover {
    color: #d7a20e;
} */

.theme_btn:active {
    color: #d7a20e;
    transform: rotatez(15deg);
}

.main_content {
    display: flex;
    justify-content: space-around;
}

.mean {
    background-color: #207398;
}

.mean2 {
    background-color: #207398;
}

.main {
    overflow: hidden;
    padding-top: 15px;
    background-color: #207398;
}

.about {
    display: grid;
    align-items: center;
    row-gap: 30px;
    /* margin: 0px 80px 0px 120px; */
    width: 25vw;
}

.item {
    margin: auto;
    height: 125px;
    width: 125px;
    background-color: #294ccc;
    border-radius: 30px 15px 30px 15px;
    text-align: center;
    box-shadow: 10px 10px 15px black;
}

.mark {
    font-size: 70px;
    color: #F4BE2C;
    height: 70%;
    font-family: 'Quicksand', 'Ubuntu';
}

.name {
    font-size: 25px;
    color: aliceblue;
}

.middle {
    font-size: 18px;
}

.cont_cover {
    background-color: #120E43;
    width: 500px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 15px 15px 45px black;
}

.sub_heading {
    width: 25vw;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    background-color: #F4BE2C;
}

.btn {
    width: 140px;
    aspect-ratio: 1/1;
    background-color: #120E43;
    border: none;
    cursor: pointer;
    font-size: 100px;
    font-weight: 900;

}


.box {
    height: 115px;
    width: 150px;
    background-color: #294ccc;
    border-radius: 20px 40px 20px 40px;
    text-align: center;
    box-shadow: 10px 10px 15px black;
    margin: 20px auto;
}


.score {
    color: #d7a20e;
    font-size: 60px;
    margin-bottom: 15px;
    margin-top: -12px;
    text-shadow: 3px 2px 5px black;
}


.win,
.tie,
.loss {
    color: aliceblue;
    font-size: 25px;
    margin-top: 3px;
}

.win_cnt,
.tie_cnt,
.loss_cnt {
    color: #F4BE2C;
    font-size: 75px;
}

.repeat {
    width: 100%;
}

.rep_btn {
    margin: 60px auto;
    margin-top: 60px;
    height: 65px;
    width: 160px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #120E43;
    font-family: 'Merriweather', serif;
    background-color: #d7a20e;
    border-radius: 20px 10px 20px 10px;
    box-shadow: 10px 10px 15px black;
    font-size: 30px;
}




.rep_btn:active {
    transform: scale(1.03);
    color: #120E43;
    box-shadow: 2px 2px 8px black;
}

.footer {
    display: grid;
    align-items: flex-end;
    background-color: #120E43;
    margin-top: -8px;
    height: 52vh;
}

/* .head_svg{
    display: flex;
    align-items: flex-start;
} */
.foot_svg {
    display: flex;
    align-items: flex-end;
}

.up_foot {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.instruction {
    margin-right: 175px;
    color: #484295;
}

.links {
    display: flex;
    justify-content: center;
}

.icon {
    margin-right: 20px;
}

.copyright {
    display: flex;
    justify-content: center;
    height: 30px;
    color: #1c1853;
}

.thanks {
    display: none;
    position: absolute;
    height: 50vh;
    width: 40vw;
    background-color: #120E43;
    border-radius: 8em 4em 16em / 2em 12em;
}

.na_flex {
    height: 48vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eaf2d7;
    font-family: 'Merriweather', serif;
    font-size: 25px;
}

.nidhi {
    font-family: 'Dancing Script', cursive;
    color: #fe5d9f;
    font-size: 50px;
}

.introduction {
    position: absolute;
    height: 70vh;
    width: 50vw;
    top: 160px;
    z-index: 4;
    background-color: #F4BE2C;
    border-radius: 8em 4em 16em / 2em 12em;
}

.intro_ht {
    display: grid;
    height: 60vh;
    align-items: center;

}

.intro_heading {
    text-align: center;
    font-size: 50px;
    color: #120E43;
    font-family: 'Sedgwick Ave Display', cursive;
}

.introducing {
    margin: -30px 0px 15px 0px;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
}

.intro_ins {
    margin-left: 100px;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: #120E43;
}

.intro_btn1 {
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.confirm_btn {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 120px;
    cursor: pointer;
    color: aliceblue;
    border: none;
    font-family: 'Merriweather', serif;
    background-color: #120E43;
    border-radius: 20px 10px 20px 10px;
    box-shadow: 10px 10px 15px black;
    font-size: 20px;
}

.confirm_btn:hover {
    color: grey;
    background-color: #29256c;
}

.confirm_btn:active {
    transform: scale(1.03);
    color: rgb(186, 183, 183);
}

li {
    margin-bottom: 8px;
}

.endgame {
    display: none;
    background-color: aqua;
    position: absolute;
    opacity: .6;
    border-radius: 10px;
}

.lv {
    height: 20px;
    width: 410px;
    top: auto;
    left: auto;
    transform: rotate(90deg);
    margin-right: 290px;
}

.mv {
    height: 20px;
    width: 410px;
    transform: rotate(90deg);
    top: auto;
    left: auto;
}

.rv {
    height: 20px;
    width: 410px;
    transform: rotate(90deg);
    top: auto;
    left: auto;
    margin-left: 290px;
}

.uh {
    width: 402px;
    height: 20px;
    top: auto;
    left: auto;
    margin-bottom: 290px;
}

.mh {
    width: 402px;
    height: 20px;
    top: auto;
    left: auto;

}

.dh {
    width: 402px;
    height: 20px;
    top: auto;
    left: auto;
    margin-top: 290px;
}

.acw {
    height: 20px;
    width: 580px;
    top: auto;
    left: auto;
    transform: rotate(45deg);
}

.cw {
    height: 20px;
    width: 580px;
    top: auto;
    left: auto;
    transform: rotate(-45deg);
}

.gameover {
    position: absolute;
    width: 450px;
    aspect-ratio: 1/1;
    top: auto;
    left: auto;
    border-radius: 15px 40px 15px 40px;
    background-color: #294ccc;
    opacity: .7;

}

.none {
    display: none;
}

.winner {
    font-family: 'Quicksand', cursive, 'Ubuntu';
    position: absolute;
    top: auto;
    left: auto;
    color: #F4BE2C;
    font-size: 60px;
}

.instruct {
    width: 90%;
}

@media screen and (max-width: 1372px) {

    .head_logo,
    .theme {
        display: none;
    }

    .header {
        justify-content: center;
    }

    .about {
        /* margin: 0px 50px 0px 20px; */
    }
    
    .rep_btn:hover {
    color: aliceblue;
    background-color: #725f29;
}
}

@media screen and (max-width: 1050px) {
    .score {
        font-size: 45px;
        text-align: center;
    }

    .about {
        width: 22vw;
    }

    .intro_ins {
        margin-left: 50px;
    }

    .heading {
        font-size: 55px;
    }
}

@media screen and (max-width: 970px) {

    .heading {
        font-size: 50px;
    }

    .main_content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .sub_heading {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .score {
        position: absolute;
        left: 20px;
    }

    .count {
        display: flex;
        width: 65%;
    }

    .cont_cover {
        width: 80%;
        aspect-ratio: 1/1;
    }

    .gameover {
        width: 72%;
        aspect-ratio: 1/1;
    }

    .btn {
        width: 22.4vw;
        aspect-ratio: 1/1;
        font-size: 8rem;
    }

    .lv {
        margin-right: 45vw;
        width: 65%;
    }

    .mv {
        width: 65%;
    }

    .rv {
        margin-left: 45vw;
        width: 65%;
    }

    .uh {
        margin-bottom: 45vw;
        width: 65%;
    }

    .mh {
        width: 65%;
    }

    .dh {
        margin-top: 45vw;
        width: 65%;
    }

    .acw,
    .cw {
        width: 88%;
    }


    .about {
        display: flex;
        width: 80%;
        margin: 30px auto;
    }

    .name12 {
        transform: rotate(-90deg);
    }

    .instruction {
        padding-left: 10px;
        margin-right: 0px;
        font-size: 28px;
    }

    .introduction {
        width: 80vw;
        height: 65vh;
    }
    
    .rep_btn:active {
    transform: scale(1.03);
    color: #120E43;
    box-shadow: 2px 2px 8px black;
}

}

@media screen and (max-width: 750px) {
    .heading {
        padding-top: 5px;
        font-size: 43px;
    }

    .score {
        display: none;
    }

    .count {
        width: 90%;
    }

    .box {
        transform: scale(.85);
    }

    .win_cnt,
    .tie_cnt,
    .loss_cnt {
        margin-top: -5px;
    }

    .cont_cover {
        width: 95%;
        box-shadow: none;
    }

    .gameover {
        width: 85%;
    }

    .btn {
        width: 26.6vw;
        aspect-ratio: 1/1;
        font-size: 5rem;
    }

    .lv {
        margin-right: 54vw;
        width: 75%;
    }

    .mv {
        width: 75%;
    }

    .rv {
        margin-left: 54vw;
        width: 75%;
    }

    .uh {
        margin-bottom: 54vw;
        width: 75%;
    }

    .mh {
        width: 75%;
    }

    .dh {
        margin-top: 54vw;
        width: 75%;
    }

    .item {
        transform: scale(.85);
    }

    .up_foot {
        flex-direction: column;
    }

    .instruction {
        padding-left: 0px;
        text-align: center;
        font-size: 20px;
    }

    .footer {
        height: 33vh;
    }

    .introduction {
        width: 96vw;
    }

    .name {
        font-size: 15px;
    }
}
